@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainbg-color: #101013;
  --main-accent-color: #ffa977;
  --inner-bg-color: rgba(0, 0, 0, 0.3);
}

/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
} */

body {
  background-color: var(--mainbg-color);
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* height: 100dvh; */
  position: relative;
  overflow-y: auto;
}

/* body::before {
  content: "";
  position: absolute; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: linear-gradient(0deg, rgba(32, 32, 60, .75), rgba(32, 32, 60, .75)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 380 380' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  pointer-events: none;
  background-size: cover;
  z-index: -1;
  filter: contrast(140%) brightness(100%);
} */

.projectMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .projectMain::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: linear-gradient(0deg, rgba(32, 32, 60, .75), rgba(32, 32, 60, .75)),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 380 380' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    pointer-events: none;
    background-size: cover;
    z-index: -1;
    filter: contrast(140%) brightness(100%);
} */

.project-nav {
  display: flex;
  align-items: center;
  position: fixed;
  width: 90vw;
  max-width: 800px;
  /* margin: 0 30px; */
  top: 150px;
  justify-content: space-between;
  /* gap: 300px; */
  /* background-color: red; */
  z-index: 1;
}

.filter-bar {
  display: flex;
  font-size: 1.8rem;
  gap: 10px;
  /* position: relative; */
  /* right: -350px; */
  top: 5px;
  /* padding-right: 50px; */
}

.filter-bar-ctn{
  display: flex;
  align-items: center;
  position: relative;
}

.search-ctn {
  display: flex;
  align-items: center;
  position: relative;
  /* padding-right: 40px; */
}

.search-bar {
  height: 40px;
  width: 90vw;
  max-width: 400px;
  min-width: 200px;
  border-radius: 17px;
  border-color: white;
  border-width: 1.5px;
  background-color: var(--inner-bg-color);
  padding-left: 50px;
  outline: none;
}

.search-bar:placeholder-shown {
  font-weight: 500;
}

.search-icon {
  position: absolute;
  font-size: 1.8rem;
  left: 11px;
  top: 5px;
}

@media (max-width: 575px) {
.search-bar {
  width: 90vw;
  max-width: 1200px;
}

.filter-bar {
  display: flex;
  font-size: 1.8rem;
  gap: 10px;
  position: absolute;
  right: 11px;
  top: 35px;
}

.project-nav {
  gap: 10px;
  top: 90px;
}
.project-bg-header {
  height: 180px !important;
}
.project-bg-footer {
  height: 25px !important;
}
}

.heart-icon:hover, .bookmrk-icon:hover {
  cursor: pointer;
}

.project-bg-header {
  height: 200px;
  width: 100%;
  background-color: var(--mainbg-color);
  /* background-color: red; */
  position: fixed;
  top: 0px;
  z-index: 0;
}

.project-bg-footer {
  height: 30px;
  width: 100%;
  background-color: var(--mainbg-color);
  position: fixed;
  bottom: 0px;
  /* display: flex; */
}

.projects-comp-ctn {
  position: relative;
  /* height: 100dvh; */
  /* background-color: red; */
  padding-bottom: 60px;
  /* min-height: 800px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* justify-content: center; */
}

.projects {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  /* background-color: red; */
  justify-content: center;
  /* height: 100vh; */
  /* min-height: 300px; */
  margin-top: 240px;
  max-width: 1200px;
  width: 90vw;
  /* overflow-y: auto; */
  z-index: 0;
}

@media (max-width: 575px) {
.projects {
  top: -5px;
  gap: 30px;
  margin-top: 200px;
  }
/* .project-img {
  height: 195px;
} */
/* .phishing-simulator .project-img {
  top: 0px;
} */
}

.phishing-simulator {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  /* background-color: var(--inner-bg-color); */
  margin-top: 20px;
  margin-bottom: 10px;
  width: 370px;
  height: 200px;
  border-radius: 40px;
  border-color: white;
  border-width: 3px;
  /* background-color: red; */
  overflow: hidden;
}

/* .phishing-simulator .project-name-ctn {
  margin-top: -90px;
  line-height: 40px;
} */

.project-ctn:hover {
  cursor: pointer;
}

.project-ctn {
  display: flex;
  width: 365px;
  height: 200px;
  border-radius: 40px;
  border-color: white;
  border-width: 3px;
  overflow: hidden;
}

.project-name-ctn {
  position: relative;
  left: 20px;
  bottom: 45px;
  text-align: start;
  font-weight: 700;
  font-size: 27px;
  text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.8);
  line-height: 30px;
}

.project-img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* top: 7px; */
}

.not-found {
  /* position: absolute; */
  margin-top: 100px;
  font-weight: 700;
  text-align: center;
  /* align-self: center; */
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  font-size: 30px;
  /* background-color: red; */
  width: 200px;
  /* z-index: 3; */
}

.temp-ctn {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  top: -50px;
}

.projects-footer {
color: white;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
  /* Adjust for better spacing */
  /* position: relative; */
  /* Footer will now flow naturally after the projects section */
  /* margin-top: 40px; */
  /* Add margin to ensure there's space between projects and footer */
  z-index: 1;
}

.projects-copyright {
  color: white;
  font-size: .8rem;
  align-items: center;
  text-align: center;
  position: relative;
  /* padding-bottom: 10px; */
}

.writeup-footer {
  color: white;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 5px 0;
  /* Adjust for better spacing */
  /* position: relative; */
  /* Footer will now flow naturally after the projects section */
  /* margin-top: 40px; */
  /* Add margin to ensure there's space between projects and footer */
  z-index: 1;
}

.projects-coming-soon {
  height: auto;
  width: 250px;
}

@media (max-width: 575px) {
.projects-coming-soon {
  height: auto;
  width: 150px;
}
}

.project-page-img {
  height: auto;
  width: 0px;
  z-index: 1;
}

.home-page-img {
  height: auto;
  width: 0px;
}

@media (max-width: 575px) { 
/* .projects {
  margin-top: 150px;
} */

.temp-ctn {
  top: -35px;
}

.project-page-img {
  position: fixed;
  top: 20px;
  left: 30px;
  width: 140px;
}

.home-page-img {
  position: absolute;
  top: 25px;
  left: 30px;
  width: 120px;
}
}

.bck-btn {
  position: relative;
  top: 100px;
  border-color: white;
  border-width: 1.5px;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  text-align: center;
  background: var(--inner-bg-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: position 0.3s ease;
}

.bck-btn:hover{
  background: rgba(255, 0, 43, 0.596);
}

.bck-btn.fixed {
  position: fixed;
  top: 20px;
  left: 20px;
}

.bck-btn-text {
  position: absolute;
  right: 13px;
  bottom: 1px;
  font-weight: 700;
  font-size: 25px;
}

.bck-arrow {
  position: absolute;
  font-size: 25px;
  left: 15px;
  bottom: 6px;
}

@media (max-width: 575px) {
  .bck-btn{
    top: 20px;
  }
}

.main-portfolio-writeup{
  justify-content: center;
  align-items: center;
}

/* .main-portfolio-writeup::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: linear-gradient(0deg, rgba(32, 32, 60, .75), rgba(32, 32, 60, .75)),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 580 580' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    pointer-events: none;
    z-index: -1;
    filter: contrast(140%) brightness(100%);
} */

.main-portfolio-writeup-body {
  position: relative;
    /* background-color: var(--inner-bg-color); */
    /* border-width: 2.5px; */
    /* border-radius: 15px; */
    height: 100%;
    /* max-height: 90%; */
    /* margin-bottom: 30px; */
    margin-top: 120px;
    max-width: 900px;
    width: 90vw;
    overflow-y: auto;
}

@media (max-width: 575px) {
  .main-portfolio-writeup-body {
  margin-top: 70px;
}
}

/* .main-conditionalaccess-writeup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: linear-gradient(0deg, rgba(32, 32, 60, .75), rgba(32, 32, 60, .75)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 580 580' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  pointer-events: none;
  z-index: -1;
  filter: contrast(140%) brightness(100%);
} */

.mainheaders {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
}

.secondaryheaders {
  font-weight: 700;
  font-size: 20px;
  /* line-height: 1.2; */
}

.navbartoggle {
  display: none;
}

.navigator-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navigator {
  border-radius: 30px;
  border-width: 1px;
  border-color: white;
  height: 47px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  top: 30px;
  position: fixed;
  background: var(--inner-bg-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 8px 0px;
  margin: 0 auto;
  z-index: 2;
}

.active-navbar {
  border-radius: 15px;
  display: flex;
  align-items: center;
  color: var(--main-accent-color) !important;
  text-shadow: .2px .2px 2px var(--inner-bg-color);
}

.navtext {
  font-weight: 800;
  font-size: larger;
  color: white;
  padding: 3px 20px;
  letter-spacing: 2px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  color: white;
  font-size: .8rem;
  display: flex;
  width: 300px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* padding-bottom: .8rem; */
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

.footer-h-pg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ensure it takes up full width of the parent */
  color: white;
  font-size: .8rem;
  z-index: 1;
  text-align: center;
  /* padding-bottom: .8rem; */
}

.copyright {
  display: flex;
  position: relative;
  bottom: -80px;
  margin-bottom: 0px;
}

.footersocials {
  display: flex;
  position: relative;
  font-size: 1.8rem;
  gap: 10px;
  bottom: -70px;
  /* padding-bottom: .5rem; */
}

.resume-download {
  /* padding-left: 10px; */
  transition: .25s ease-in-out;
}

.linkedIn {
  transition: .25s ease-in-out;
}

.Xtwitter {
  transition: .25s ease-in-out;
}

.resume-download:hover, .linkedIn:hover, .Xtwitter:hover {
  transform: scale(1.2);
}

.testtext {
  color: white;
}

#tsparticles {
  z-index: 2;
}

.aitext {
  color: white;
}

.aimain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

/* .aimain::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: linear-gradient(0deg, rgba(32, 32, 60, .75), rgba(32, 32, 60, .75)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 380 380' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3.5' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  pointer-events: none;
  background-size: cover;
  z-index: -1;
  filter: contrast(140%) brightness(100%);
} */

.ai-selector-btn {
  /* background-color: red; */
  position: fixed;
  z-index: 1;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
  border-radius: 15px;
  padding: 2px 0px 8px 10px;
  top: 85px;
}

.ai-selector-btn:hover {
  background-color: rgba(255, 255, 255, .1);
}

.ainameimg {
  color: rgba(255, 255, 255, 0);
  width: 100px;
  top: 85px;
  z-index: 1;
}

@media (max-width: 575px) {
.ai-selector-btn {
  position: fixed;
  top: 13px;
  left: 15px;
  }
}

.ai-drpdwn-icon{
  position: relative;
  margin-top: 12px;
  right: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 900;
  /* left: 35px; */
}


.ai-comp-ctn {
  display: flex;
  /* position: relative; */
  /* top: -90px; */
  flex-direction: column;
  /* background-color: red; */
  max-width: 750px;
  width: 90vw;
  /* height: 100%; */
  /* max-height: 100vh; */
  margin-top: 140px;
  padding-bottom: 150px;
  /* z-index: 2 */
}

.ai-opts-ctn {
  position: fixed;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  top: 150px;
  width: 330px;
  height: 150px;
  /* max-height: 250px; */
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-width: 1.5px;
  border-radius: 35px;
  overflow: hidden;
  z-index: 1;
}

.ai-opt-child-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: green; */
  padding: 10px;
  gap: 5px;
  /* max-width: 350px; */
  /* border-radius: 40px; */
}

.chatbot-tick {
  position: absolute;
  left: 80px;
  top: 24px;
  rotate: -5deg;
  color: var(--main-accent-color);
}

.voicechat-tick {
  position: absolute;
  left: 85px;
  top: 90px;
  rotate: -5deg;
  color: var(--main-accent-color);
}

.zelyx-welcome-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  /* margin-top: 50%; */
  /* margin: 0px 20px; */
  text-align: center;
  height: 100dvh;
  top: 0;
  /* background-color: red; */
  /* z-index: 0; */
}

/* .zelyx-welcome-text {
  background-color: green;
  z-index: 2;
} */

.wtz {
  /* position: relative; */
  font-size: 3.4rem;
  font-weight: 700;
}

.wwyltkas {
  /* position: absolute; */
  font-size: 1.2rem;
  padding: 0px 10px;
  margin-top: 5px;
  font-weight: 450;
}

@media (max-width: 575px) {
.wtz {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .wwyltkas {
    font-size: .95rem;
    padding: 0px 10px;
    font-weight: 500;
  }
}

.pre-opts {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}

.wis, .wedsh {
  margin-top: 20px;
  /* height: 50px; */
  text-align: center;
  padding: 10px 15px;
  /* width: 100px; */
  background-color: var(--inner-bg-color);
  border-width: 1.5px;
  border-color: var(--main-accent-color);
  border-radius: 22px;
}

.wis:hover, .wedsh:hover {
  background-color: rgba(255, 255, 255, .11)
}

@media (max-width: 575px) {
.wis, .wedsh {
  margin-top: 20px;
  padding: 7px 10px;
  border-radius: 30px;
  font-size: .8rem;
  font-weight: 500;
  }
.pre-opts {
  justify-content: space-evenly;
  gap: 30px;
  margin: 0px 30px;
}
}

.zelyx-opt, .voice-opt {
  /* background-color: red; */
  width: 305px;
  height: 60px;
  text-align: start;
  padding: 7px;
  border-radius: 22px;
}

.zelyx-opt:hover, .voice-opt:hover {
  background-color: rgba(255, 255, 255, .11);
}

.blobs-ctn {
  display:flex ;
  position: absolute;
  justify-self: center;
  align-items: center;
  background-color: red;
  z-index: 1;
}

.blob1, .blob2, .blob3, .blob4 {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: pink;
  filter: blur(10px);
  --webkit-backdrop-filter: blur(4px);
  /* z-index: 10; */
}

#blob2id {
  background-color: yellow;
}

.ai-title {
  position: relative;
  margin-top: -3px;
  font-size: 1.3rem;
  font-weight: 700;
  padding-left: 7px;
}

.ai-desc {
  position: relative;
  font-size: .87rem;
  padding: 0px 0px 10px 7px;
  font-weight: 500;
  bottom: 3px;
}

@media (max-width: 575px) {
.ai-desc {
  font-size: .83rem;
  }
.ai-comp-ctn {
    margin-top: 70px;
    /* height: 0vh; */
    /* display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between; */
  }
.aioutput {
    padding-bottom: 10px;
  }
.ai-bg-header {
  height: 75px !important;
}
.ai-opts-ctn {
  top: 70px;
  left: 15px;
}
}

.ai-bg-header {
  height: 135px;
  width: 100%;
  background-color: var(--mainbg-color);
  /* background-color: red; */
  position: fixed;
  top: 0px;
}

.ai-bg-footer{
  height: 75px;
  width: 100%;
  background-color: var(--mainbg-color);
  position: fixed;
  bottom: 0px;
  /* display: flex; */
}

.aioutput {
  /* top: 0px; */
  position: relative;
  /* height: 100vh; */
  /* margin-top: 100px; */
  padding-bottom: 120px;
}

.ai-footer{
  color: white;
  display: flex;
  font-size: .8rem;
  align-self: center;
  /* background-color: red; */
  text-align: center;
  padding: 15px 0;
  position: fixed;
  bottom: -10px;
  justify-content: center;
  z-index: 1;
}

.aiquestbox {
  display: flex;
  justify-content: center;
  /* background-color: green; */
  align-self: center;
  max-width: 700px;
  /* margin: 10px 0; */
  position: fixed;
  bottom: 30px;
  z-index: 1;
}

.send-button {
  position: absolute;
  right: 15px;
  align-self: center;
  color: white;
  cursor: pointer;
  display: flex;
  /* background-color: var(--main-accent-color); */
  border-radius: 10px;
  font-size: 1.3rem;
}

.VscSparkleFilled {
  transform: rotate(-80deg);
  font-size: 1.5rem;
}

.testinput {
  color: black;
}

.inputchat {
  border-color: white;
  border-radius: 20px;
  border-width: 1.5px;
  background-color: var(--inner-bg-color);
  color: white;
  height: 45px;
  width: 90vw;
  max-width: 700px;
  padding: 17px 40px 17px 15px;
  outline: none;
  box-sizing: border-box;
}

/* .send-button:hover {
  background-color: var(--main-accent-color);
} */

.inputchat:placeholder-shown {
  font-weight: 500;
}

.userMessage {
  background-color: var(--inner-bg-color);
  max-width: 28rem;
  border-width: 1.5px;
  border-color: var(--main-accent-color);
  border-radius: 30px;
  padding: 14px 20px;
  color: white;
  margin-top: 30px;
  font-size: 1rem;
  font-weight: 500;
  margin: 30px 30px 0 auto;
  margin-right: 30px;
  width: fit-content;
}

.aiMessage {
  /* background-color: var(--inner-bg-color); */
  max-width: 33rem;
  border-radius: 30px;
  /* border-width: 1px; */
  border-color: var(--main-accent-color);
  /* padding: 15px 25px; */
  color: white;
  margin-left: 25px;
  margin-top: 30px;
  font-size: 1rem;
  font-weight: 500;
  /* margin-bottom: 25px; */
  width: fit-content;
}

.loading-indicator {
  padding: 15px 0 30px 0;
}

.loading-bar {
  background: linear-gradient(to right, hsl(22, 69%, 66%), #c15b1f, var(--main-accent-color));
  height: 15px;
  margin: 15px 15px 15px 25px;
  max-width: 25rem;
  border-radius: .3rem;
  animation: animate 3.7s linear infinite;
  box-shadow: 0px 0px 10px hsla(22, 84%, 40%, 0.6);
  transition: .9s;
}

.loading-bar:nth-child(2) {
  max-width: 18rem;
  margin-left: 80px;
}

.loading-bar:last-child {
  max-width: 18rem;
}

@keyframes animate {
  0% {
    background-position: -801px 0;
  }

  100% {
    background-position: 801px 0;
  }
}

.imageText {
  padding-top: 13px;
}

@media (max-width: 575px) {
  .navigator-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
  }

  .navigator {
    flex-direction: column;
    border-radius: 0;
    border: none;
    gap: 30px;
    width: 100%;
    transform: translateY(-250%);
    height: 200px;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(7, 7, 7, 0.8);
  }

  #navbartoggle:checked~.navigator-container .navigator {
    transform: translateY(-15%);
    opacity: 1;
    visibility: visible;
    transition: transform .4s;
  }

  #navbartoggle:not(:checked)~.navigator-container .navigator {
    transform: translateY(-200%);
    opacity: 1;
    visibility: visible;
  }

  .navtext a:nth-child(1) {
    margin-top: 0px;
  }

  .burgerlabel {
    width: 40px;
    height: 30px;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 3;
  }

  .labeldiv {
    width: 100%;
    height: 5px;
    background-color: white;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 100px;
    transition: .2s;
    transform: scale(1);
  }

  .labeldiv:nth-child(1) {
    top: 0;
  }

  .labeldiv:nth-child(2) {
    top: 50%;
    width: 45%;
    left: 50%;
  }

  .labeldiv:nth-child(3) {
    top: 100%;
  }

  #navbartoggle:checked~.burgerlabel .labeldiv:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
  }

  #navbartoggle:checked~.burgerlabel .labeldiv:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
  }

  #navbartoggle:checked~.burgerlabel .labeldiv:nth-child(2) {
    transform: scale(0);
    opacity: 0;
  }

  .homefirstline,
  .homesecline {
    color: white;
    font-size: 2rem;
    font-weight: 700;
  }

  .homesecline {
    margin-top: -10px;
  }

  .projectfirstline,
  .projectsecline {
    color: white;
    font-size: 2rem;
    font-weight: 700;
  }

  .projectsecline {
    margin-top: -10px;
  }

.aimain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-height: 100dvh; */
}

.ai-footer {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

  .userMessage {
    color: white;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 0;
    font-size: 1rem;
  }

  .aiMessage {
    color: white;
    margin-left: 0;
    margin-top: 30px;
    font-size: 1rem;
  }

  .loading-bar {
    margin: 15px 10px 15px 0px;
    max-width: 17rem;
    transition: .6s;
  }

  .loading-bar:nth-child(2) {
    max-width: 10rem;
    margin: 15px 15px 15px 45px;
  }

  .loading-bar:last-child {
    max-width: 11rem;
  }

  /* .ainameimg {
    top: 15px;
    left: 30px;
    width: 120px;
  } */

  .submit-contact-btn {
    max-width: 150px;
  }

  .ptx-content {
    max-height: 400px;
  }

  .protexxa-date {
    font-weight: 500;
  }

  .certifications {
    /* background-color: var(--inner-bg-color); */
    max-width: 475px;
    width: 80vw;
    margin: 0 auto 0 auto;
    position: relative;
    left: 0px;
    padding: 20px;
    /* margin-top: 50px; */
    text-align: center;
  }

  .certimgs {
    width: 45%;
    height: 90px;
    margin: 20px;
    flex-shrink: 0;
  }
}

.homeMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* margin: 30px; */
  /* background-color: red; */
  /* max-width: 1500px; */
  width: 100%;
  /* max-width: 1500px; */
  padding: 30px 0 90px 0;
  overflow: hidden;
  min-height: 100vh;
  justify-content: space-between;
}

/* .homeMain::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: linear-gradient(0deg, rgba(32, 32, 60, .75), rgba(32, 32, 60, .75)),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 380 380' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    pointer-events: none;
    background-size: cover;
    z-index: -1;
    filter: contrast(140%) brightness(100%);
} */

.abt-me-ctn {
  position: relative;
  /* background-color: red; */
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  /* padding-left: 0px; */
  /* padding-right: 0px; */
  /* align-self: flex-start; */
  width: 100vw;
  /* height: 700px; */
  justify-content: center;
  column-gap: 50px;
  /* margin-left: 30px; */
  margin-bottom: 50px;
  margin-top: 110px;
}

.about-me {
  /* background-color: var(--inner-bg-color); */
  /* max-width: 40vw; */
  /* width: 90vw; */
  /* padding: 10px; */
  /* align-self: flex-start; */
  /* background-color: #ff6a77; */
  /* box-sizing: border-box; */
  position: relative;
  /* margin: 0 200px; */
  text-align: center;
  /* margin-left: 40px; */
  margin-bottom: 50px;
  margin-top: 0px;
}

.about {
  /* position: relative; */
  font-weight: 500;
  font-size: 1rem;
  /* padding: 0px 20px; */
  /* background-color: blue; */
  /* margin: 0px 200px; */
  /* padding-top: 10px; */
  justify-self: center;
  max-width: 900px;
  line-height: 1.6;
}

.testbox {
  /* background-color: var(--inner-bg-color); */
  /* width: 800px; */
  /* justify-self: center; */
  /* background-color: pink; */
  /* position: relative; */
  /* align-self: center; */
  /* padding: 20px; */
  /* box-sizing: border-box; */
  /* margin-bottom: 50px; */
  /* margin-top: auto; */
  padding: 0px 5px;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.name {
  font-size: 6rem;
  font-weight: 700;
  display: flex;
  justify-self: center;
  justify-content: center;
  /* background-color: red; */
  gap: 20px;
}

.name span {
  background: linear-gradient(270deg, #ff77e0, #c477ff, #7785ff,
      #ff77ab, #ff6a77, #ffb777, #ff9050, #ff7950, #ffa977);
  background-size: 400% 400%;
  background-clip: text;
  /* font-size: 6rem; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: gradientAnimation (270deg, #ff77e0, #c477ff, #7785ff,
      #ff77ab, #ff6a77, #ffb777, #ff9050, #ff7950, #ffa977); */
  animation: gradientAnimation 5s;
}

@media (max-width: 1000px) {
  .about {
    padding: 0px 70px;
  }

  .testbox {
    padding: 0px 70px;
  }

  .name {
    font-size: 5rem;
    /* padding: 0px 70px; */
  }
}

@media (max-width: 730px) {
  .name {
    flex-direction: column;
    font-size: 4rem;
    gap: 0px;
    line-height: 90px;
    margin-bottom: 25px;
  }
  .name span {
    font-size: 5rem;
  }
}

@media (max-width: 575px) {
  .about {
    margin-top: -15px;
    font-size: .95rem;
    padding: 0px 20px;
  }
    .name {
      font-size: 2.5rem;
      line-height: 65px;
      margin-bottom: 10px;
    }
    .name span {
      font-size: 4rem;
    }
    .about-me {
      margin-top: -40px;
    }
  
    .tapered-line {
      width: 80%;
    }
  
    .jobtitle {
      font-weight: 700;
    }
    .testbox {
      padding: 0px 10px;
    }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.jobtitle {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 30px;
}

.jobtitle span {
  color: var(--main-accent-color);
}

.tapered-line {
  width: 50%;
  height: 2px;
  background: linear-gradient(to right, transparent, #ffffff, transparent);
  margin: 40px auto;
}

.work-xp-certs {
  position: relative;
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}

.experience {
  /* background-color: var(--inner-bg-color); */
  max-width: 900px;
  /* background-color: green; */
  width: 90vw;
  /* margin: 0 auto 10px auto; */
  margin-top: -30px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.xp-ctns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.xp-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}

.certs-title {
  font-size: 25px;
  font-weight: 700;
}

.protexxa-xp {
  background-color: var(--inner-bg-color);
  border-radius: 30px;
  border-width: 1.7px;
  border-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* max-width: 350px; */
  /* width: 30vw; */
  overflow: hidden;
  /* padding-right: 20px; */
  transition: transform 0.3s, box-shadow 0.3s;
}

.protexxa-xp:hover {
  background-color: rgba(75, 85, 139, 0.2);
}

.protexxa_logo {
  height: auto;
  /* background-color: white;  */
  width: 120px;
}

.protexxa-text-ctn {
  display: flex;
  padding: 0px 15px 15px 15px;
  flex-direction: column;
  /* gap: 5px; */
}

.protexxa-text {
  font-size: 1.9rem;
  margin-top: -20px;
  font-weight: 800;
}

.jobTitle {
  margin-top: -7px;
  /* margin-bottom: 0px; */
  /* padding: 0px 0px; */
  font-size: 1.3rem;
  font-weight: 500;
}

.protexxa-date {
  font-size: 1rem;
  /* margin-top: -5px; */
  padding: 0 5px;
  /* padding-bottom: 5px; */
  align-self: center;
  /* letter-spacing: 1px; */
  font-weight: 600;
}

.protexxa-details {
  max-width: 700px;
  width: 90vw;
  /* padding-top: 20px; */
  align-items: center;
}

.ptx-content {
  background-color: var(--inner-bg-color);
  border-width: 1.5px;
  border-radius: 40px;
  padding: 25px;
  overflow: scroll;
}


.ptx-job-title {
  font-size: 25px;
  font-weight: 700;
}

.ptx-task1,
.ptx-task2,
.ptx-task3 {
  text-align: left;
  font-weight: 700;
  padding-top: 25px;
}

.ptx-subtask1,
.ptx-subtask2,
.ptx-subtask3 {
  text-align: left;
}

.ptx-ul {
  list-style: none;
  padding-left: 20px;
}

.ptx-ul p {
  text-indent: -15px;
  padding-left: 15px;
  margin-bottom: 5px;
}

.ptx-subtask3 {
  padding-bottom: 20px;
}

.ptx-close-btn {
  padding: 7px 15px 7px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  border-width: 2px;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
}

.ptx-close-btn:hover {
  background: rgba(255, 0, 43, 0.596);
}

.certifications {
  max-width: 475px;
  margin-top: 70px;
  padding: 0px 20px 20px 20px;
  text-align: center;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
}

.certimgs-container {
  display: flex;
  justify-content: flex-start;
  /* Align images to the start */
  flex-shrink: 0;
}

.certimgs {
  width: 200px;
  height: auto;
  margin-right: 100px;
  /* Same as imageMargin in JS */
  flex-shrink: 0;
}

.certimgs:last-child {
  margin-right: 0;
  /* Remove margin from the last image */
}

@media (max-width: 768px) {
  .certimgs {
    width: 150px;
    /* Adjust for smaller screens */
    margin-right: 100px;
    /* Adjust spacing if needed */
  }
}

.contact-form-title {
  font-size: 25px;
  font-weight: 700;
}

.contact-summary {
  margin-bottom: 20px;
}

.contact-form {
  /* background-color: var(--inner-bg-color); */
  max-width: 700px;
  width: 90vw;
  margin: 30px auto 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.contactname,
.contactemail,
.contactmessage {
  margin: 13px;
  max-width: 700px;
  padding: 10px 15px;
  align-items: center;
  pointer-events: auto;
  z-index: 0;
  outline: none;
  border-color: white;
  border-radius: 20px;
  border-width: 1.5px;
  background-color: var(--inner-bg-color);
}

.contactname,
.contactemail .contactmessage::placeholder {
  font-weight: 500;
}

.form-container {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  max-width: 500px;
  width: 90vw;
}

.contactmessage {
  height: 150px;
}

.contact-labels {
  align-self: flex-start;
  margin-top: 10px;
  margin-left: 15px;
  font-weight: 700;
  /* letter-spacing: 2px; */
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.submit-contact-btn {
  background-color: var(--inner-bg-color);
  width: 120px;
  padding: 4px;
  font-size: 18px;
  border-width: 2px;
  border-radius: 20px;
  align-self: center;
  font-weight: 600;
  margin: 13px;
  /* margin-bottom: 30px; */
  transition: transform 1s;
}

.submit-contact-btn:hover {
  background-color: var(--main-accent-color);
}